<%- include('../includes/head')%>
</head>
<body>
    <%- include('../includes/navBar.ejs') %>
    <h1>Title : <%= product.title %></h1>
    <h2>Price : <%= product.price %> $</h2>
    <p><%= product.description %></p>

</body>
</html>